body{
    background-image: url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    height: 25px;
    margin-left: 2%;
    margin-top: 16px;
}
.box2{
    height: 25px;
    position: relative;
    bottom: 25px;
    margin-left: 12%;
    background-color: #D7D7D7;
}
.box3{
    height: 25px;
    position: relative;
    bottom: 85px;
    margin-left: 12%;
    background-color: #D7D7D7;
}
.box4{
    height: 25px;
    position: relative;
    bottom: 225px;
    margin-left: 12%;
    background-color: #D7D7D7;
}
#title{
    position: fixed;
    top: 1%;
    left: 38.5%;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}
#container{
    margin-top: 8%;
    margin-left: 2%;
}
.buttons{
    margin-left: 1%;
    height: 30px;
    width: 100px;
}
#startButton{
    margin-left: 42.5%;
}